{
	"parser": "babel-eslint",
	"rules": {
		"semi": "off",
		"arrow-parens": "off",
		"comma-dangle": "off",
		"require-jsdoc": "off",
		"linebreak-style": "off",
		"eol-last": "off",
		"no-tabs": "off",
		"indent": "off",
		"no-trailing-spaces": "off",
		"operator-linebreak": "off",
		"no-debugger": "off"
	},
	"env": {
		"es6": true,
		"browser": true,
		"node": true
	},
	"extends": [
		"eslint:recommended", 
		"google"
	]
}